/* stylelint-disable selector-id-pattern */

#mainMenu.ddsmoothmenu ul {
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Top level list items */
#mainMenu.ddsmoothmenu ul li {
  position: relative;
  display: inline;
  float: left;
}

/* Top level menu link items style */
* html #mainMenu.ddsmoothmenu ul li a {
  /* IE6 hack to get sub menu links to behave correctly */
  display: inline-block;
}

/* 1st sub level menu */
#mainMenu.ddsmoothmenu ul li ul {
  position: absolute;
  left: 0;
  display: none; /* collapse all sub menus to begin with */
  visibility: hidden;
  width: auto;
  padding-bottom: 7px;
  /* border-bottom:1px solid #222; */
}

/* Sub level menu list items (undo style from Top level List Items) */
#mainMenu.ddsmoothmenu ul li ul li {
  display: list-item;
  float: none;
  padding: 0;
  background: #091011;
}

/* Sub level menu links style */
#mainMenu.ddsmoothmenu ul li ul li a,
#mainMenu.ddsmoothmenu ul li ul li a:hover {
  width: 168px;
  height: 1%;
  margin: 0;
  padding: 12px 0 12px 16px;
  /* background:#000; */
  text-align: left;
  text-transform: none;
  border-bottom: 1px solid #333;
  font-size: 13px;
  line-height: 100%;
}

#mainMenu.ddsmoothmenu ul li ul li a:hover {
  color: #1fa2e1;
}

#mainMenu.ddsmoothmenu ul li ul li a.last,
#mainMenu.ddsmoothmenu ul li ul li a.last:hover {
  border: none;
}

/* Holly Hack for IE \ */
* html #mainMenu.ddsmoothmenu {
  height: 1%;
} /* Holly Hack for IE7 and below */

/* stylelint-enable selector-id-pattern */
