/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */

/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
  height: 370px;
}

.nivoSlider img {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  z-index: 60;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* The slices in the Slider */
.nivo-slice {
  position: absolute;
  z-index: 50;
  top: 0;
  display: block;
  height: 100%;
}
.nivo-box {
  position: absolute;
  z-index: 50;
  display: block;
}

/* Caption styles */
.nivo-caption {
  position: absolute;
  z-index: 89;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.8; /* Overridden by captionOpacity setting */
  color: #fff;
  background: #000;
}

.nivo-caption p {
  margin: 0;
  padding: 40px 20px;
  font-size: 22px;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  z-index: 99;
  top: 35%;
  cursor: pointer;
}

.nivo-prevNav {
  left: 15px;
  display: block;
  width: 47px;
  height: 47px;
  text-indent: -9999px;
  background: url(../images/but_prev.png) 0 0 no-repeat;
}

.nivo-nextNav {
  right: 15px;
  display: block;
  width: 47px;
  height: 47px;
  text-indent: -9999px;
  background: url(../images/but_next.png) 0 0 no-repeat;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  overflow: hidden;
  margin-left: 25px;
  padding-top: 25px;
  text-align: center;
}

.nivo-controlNav a {
  position: relative;
  z-index: 99;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/slider_controlnav.png) -20px 0 no-repeat;
}
.nivo-controlNav a.active {
  background: url(../images/slider_controlnav.png) 0 0 no-repeat;
  font-weight: bold;
}
