div.light_rounded .pp_top .pp_left {
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px
    no-repeat;
}

div.light_rounded .pp_top .pp_middle {
  background: #fff;
}

div.light_rounded .pp_top .pp_right {
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px
    no-repeat;
}

div.light_rounded .pp_content .ppt {
  color: #000;
}

div.light_rounded .pp_content_container .pp_left,
div.light_rounded .pp_content_container .pp_right {
  background: #fff;
}

div.light_rounded .pp_content {
  background-color: #fff;
}

div.light_rounded .pp_next:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right
    no-repeat;
}

div.light_rounded .pp_previous:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center
    left no-repeat;
}

div.light_rounded .pp_expand {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px
    no-repeat;
}

div.light_rounded .pp_expand:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px
    no-repeat;
}

div.light_rounded .pp_contract {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
}

div.light_rounded .pp_contract:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
}

div.light_rounded .pp_close {
  width: 75px;
  height: 22px;
  cursor: pointer;
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px
    no-repeat;
}

div.light_rounded #pp_full_res .pp_inline {
  color: #000;
}

div.light_rounded .pp_arrow_previous {
  background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;
}

div.light_rounded .pp_arrow_previous.disabled {
  cursor: default;
  background-position: 0 -87px;
}

div.light_rounded .pp_arrow_next {
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px
    no-repeat;
}

div.light_rounded .pp_arrow_next.disabled {
  cursor: default;
  background-position: -22px -87px;
}

div.light_rounded .pp_bottom .pp_left {
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px
    no-repeat;
}

div.light_rounded .pp_bottom .pp_middle {
  background: #fff;
}

div.light_rounded .pp_bottom .pp_right {
  background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px
    no-repeat;
}

div.light_rounded .pp_loaderIcon {
  background: url(../images/prettyPhoto/light_rounded/loader.gif) center center
    no-repeat;
}

div.dark_rounded .pp_top .pp_left {
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px
    no-repeat;
}

div.dark_rounded .pp_top .pp_middle {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    left repeat;
}

div.dark_rounded .pp_top .pp_right {
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px
    no-repeat;
}

div.dark_rounded .pp_content_container .pp_left {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    left repeat-y;
}

div.dark_rounded .pp_content_container .pp_right {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    right repeat-y;
}

div.dark_rounded .pp_content {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    left repeat;
}

div.dark_rounded .pp_next:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right
    no-repeat;
}

div.dark_rounded .pp_previous:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center
    left no-repeat;
}

div.dark_rounded .pp_expand {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px
    no-repeat;
}

div.dark_rounded .pp_expand:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px
    no-repeat;
}

div.dark_rounded .pp_contract {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
}

div.dark_rounded .pp_contract:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
}

div.dark_rounded .pp_close {
  width: 75px;
  height: 22px;
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px
    no-repeat;
}

div.dark_rounded .currentTextHolder {
  color: #c4c4c4;
}

div.dark_rounded .pp_description {
  color: #fff;
}

div.dark_rounded #pp_full_res .pp_inline {
  color: #fff;
}

div.dark_rounded .pp_arrow_previous {
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;
}

div.dark_rounded .pp_arrow_previous.disabled {
  cursor: default;
  background-position: 0 -87px;
}

div.dark_rounded .pp_arrow_next {
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px
    no-repeat;
}

div.dark_rounded .pp_arrow_next.disabled {
  cursor: default;
  background-position: -22px -87px;
}

div.dark_rounded .pp_bottom .pp_left {
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px
    no-repeat;
}

div.dark_rounded .pp_bottom .pp_middle {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    left repeat;
}

div.dark_rounded .pp_bottom .pp_right {
  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px
    no-repeat;
}

div.dark_rounded .pp_loaderIcon {
  background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center
    no-repeat;
}

div.dark_square .pp_left,
div.dark_square .pp_middle,
div.dark_square .pp_right,
div.dark_square .pp_content {
  background: url(../images/prettyPhoto/dark_square/contentPattern.png) top left
    repeat;
}

div.dark_square .currentTextHolder {
  color: #c4c4c4;
}

div.dark_square .pp_description {
  color: #fff;
}

div.dark_square .pp_loaderIcon {
  background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center
    no-repeat;
}

div.dark_square .pp_content_container .pp_left {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    left repeat-y;
}

div.dark_square .pp_content_container .pp_right {
  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
    right repeat-y;
}

div.dark_square .pp_expand {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px
    no-repeat;
}

div.dark_square .pp_expand:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px
    no-repeat;
}

div.dark_square .pp_contract {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
}

div.dark_square .pp_contract:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
}

div.dark_square .pp_close {
  width: 75px;
  height: 22px;
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px
    no-repeat;
}

div.dark_square #pp_full_res .pp_inline {
  color: #fff;
}

div.dark_square .pp_arrow_previous {
  background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;
}

div.dark_square .pp_arrow_previous.disabled {
  cursor: default;
  background-position: 0 -87px;
}

div.dark_square .pp_arrow_next {
  background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px
    no-repeat;
}

div.dark_square .pp_arrow_next.disabled {
  cursor: default;
  background-position: -22px -87px;
}

div.dark_square .pp_next:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/btnNext.png) center right
    no-repeat;
}

div.dark_square .pp_previous:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left
    no-repeat;
}

div.light_square .pp_left,
div.light_square .pp_middle,
div.light_square .pp_right,
div.light_square .pp_content {
  background: #fff;
}

div.light_square .pp_content .ppt {
  color: #000;
}

div.light_square .pp_expand {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px
    no-repeat;
}

div.light_square .pp_expand:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px
    no-repeat;
}

div.light_square .pp_contract {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
}

div.light_square .pp_contract:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
}

div.light_square .pp_close {
  width: 75px;
  height: 22px;
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px
    no-repeat;
}

div.light_square #pp_full_res .pp_inline {
  color: #000;
}

div.light_square .pp_arrow_previous {
  background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;
}

div.light_square .pp_arrow_previous.disabled {
  cursor: default;
  background-position: 0 -87px;
}

div.light_square .pp_arrow_next {
  background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px
    no-repeat;
}

div.light_square .pp_arrow_next.disabled {
  cursor: default;
  background-position: -22px -87px;
}

div.light_square .pp_next:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/btnNext.png) center right
    no-repeat;
}

div.light_square .pp_previous:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/light_square/btnPrevious.png) center
    left no-repeat;
}

div.facebook .pp_top .pp_left {
  background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px
    no-repeat;
}

div.facebook .pp_top .pp_middle {
  background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left
    repeat-x;
}

div.facebook .pp_top .pp_right {
  background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px
    no-repeat;
}

div.facebook .pp_content .ppt {
  color: #000;
}

div.facebook .pp_content_container .pp_left {
  background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top
    left repeat-y;
}

div.facebook .pp_content_container .pp_right {
  background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top
    right repeat-y;
}

div.facebook .pp_content {
  background: #fff;
}

div.facebook .pp_expand {
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px
    no-repeat;
}

div.facebook .pp_expand:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px
    no-repeat;
}

div.facebook .pp_contract {
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
}

div.facebook .pp_contract:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
}

div.facebook .pp_close {
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
}

div.facebook #pp_full_res .pp_inline {
  color: #000;
}

div.facebook .pp_loaderIcon {
  background: url(../images/prettyPhoto/facebook/loader.gif) center center
    no-repeat;
}

div.facebook .pp_nav .pp_arrow_previous {
  width: 22px;
  height: 22px;
  margin-top: 0;
  background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
}

div.facebook .pp_arrow_previous.disabled {
  cursor: default;
  background-position: 0 -96px;
}

div.facebook .pp_nav .pp_arrow_next {
  width: 22px;
  height: 22px;
  margin-top: 0;
  background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px
    no-repeat;
}

div.facebook .pp_arrow_next.disabled {
  cursor: default;
  background-position: -32px -96px;
}

div.facebook .pp_nav {
  margin-top: 0;
}

div.facebook .pp_nav p {
  padding: 0 3px 0 4px;
  font-size: 15px;
}

div.facebook .pp_next:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/btnNext.png) center right
    no-repeat;
}

div.facebook .pp_previous:hover {
  cursor: pointer;
  background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left
    no-repeat;
}

div.facebook .pp_bottom .pp_left {
  background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px
    no-repeat;
}

div.facebook .pp_bottom .pp_middle {
  background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top
    left repeat-x;
}

div.facebook .pp_bottom .pp_right {
  background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px
    no-repeat;
}

div.pp_pic_holder a:focus {
  outline: none;
}

div.pp_overlay {
  position: absolute;
  z-index: 9500;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background: #000;
}

div.pp_pic_holder {
  position: absolute;
  z-index: 10000;
  display: none;
  width: 100px;
}

.pp_top {
  position: relative;
  height: 20px;
}

* html .pp_top {
  padding: 0 20px;
}

.pp_top .pp_left {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.pp_top .pp_middle {
  position: absolute;
  right: 20px;
  left: 20px;
  height: 20px;
}

* html .pp_top .pp_middle {
  position: static;
  left: 0;
}

.pp_top .pp_right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: 20px;
  height: 20px;
}

.pp_content {
  height: 40px;
}

.pp_content .ppt {
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 5px;
}

.pp_fade {
  display: none;
}

.pp_content_container {
  position: relative;
  width: 100%;
  text-align: left;
}

.pp_content_container .pp_left {
  padding-left: 20px;
}

.pp_content_container .pp_right {
  padding-right: 20px;
}

.pp_content_container .pp_details {
  margin: 10px 0 2px 0;
}

.pp_description {
  display: none;
  margin: 0 0 5px 0;
}

.pp_nav {
  float: left;
  clear: left;
  margin: 3px 0 0 0;
}

.pp_nav p {
  float: left;
  margin: 2px 4px;
}

.pp_nav a.pp_arrow_previous,
.pp_nav a.pp_arrow_next {
  display: block;
  float: left;
  overflow: hidden;
  width: 14px;
  height: 15px;
  margin-top: 3px;
  text-indent: -10000px;
}

.pp_hoverContainer {
  position: absolute;
  z-index: 2000;
  top: 0;
  width: 100%;
}

a.pp_next {
  display: block;
  float: right;
  width: 49%;
  height: 100%;
  text-indent: -10000px;
  background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px
    10000px no-repeat;
}

a.pp_previous {
  display: block;
  float: left;
  width: 49%;
  height: 100%;
  text-indent: -10000px;
  background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px
    10000px no-repeat;
}

a.pp_expand,
a.pp_contract {
  position: absolute;
  z-index: 20000;
  top: 10px;
  right: 30px;
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-indent: -10000px;
}

a.pp_close {
  display: block;
  float: right;
  text-indent: -10000px;
}

.pp_bottom {
  position: relative;
  height: 20px;
}

* html .pp_bottom {
  padding: 0 20px;
}

.pp_bottom .pp_left {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.pp_bottom .pp_middle {
  position: absolute;
  right: 20px;
  left: 20px;
  height: 20px;
}

* html .pp_bottom .pp_middle {
  position: static;
  left: 0;
}

.pp_bottom .pp_right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: 20px;
  height: 20px;
}

.pp_loaderIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
}

#pp_full_res {
  line-height: 1 !important;
}

#pp_full_res .pp_inline {
  text-align: left;
}

#pp_full_res .pp_inline p {
  margin: 0 0 15px 0;
}

div.ppt {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  color: #fff;
  font-size: 17px;
}

.clearfix::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
