/*
Theme Name: Boldy
Author: Site5.com
Author URI: http: //gk.site5.com/t/237
Description: Check <a href="http: //wordpress.site5.net/boldy/doc/">Boldy Documentation</a> in case you need directions</a>.
*/

/* MAIN STYLES
------------------------------------------- */
/* stylelint-disable selector-id-pattern */

* {
  margin: 0;
  padding: 0;
}

body,
html {
  color: #333;
  background: url("../images/bk_body.jpg");
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 135%;
}

ul,
ul.menu {
  list-style: none;
}

#colLeft #tabs-wrapper ul.primary {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: #1fa2e1;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

p {
  margin: 0 0 1.5em;
}

h1,
h2,
h3 {
  padding-bottom: 15px;
  letter-spacing: -1px;
  font-size: 32px;
  line-height: 100%;
}

h1 {
  font-weight: normal;
}

h1 a:hover {
  text-decoration: none;
  color: #333;
}

p.page-title {
  padding-bottom: 15px;
  letter-spacing: -1px;
  font-size: 32px;
  font-weight: normal;
  line-height: 100%;
}

p.page-title a:hover {
  text-decoration: none;
  color: #333;
}

h2 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

h2.node-title {
  padding: 0 0 15px;
  font-size: 32px;
}

h3 {
  padding-top: 10px;
  font-size: 18px;
}

/* LAYOUT STRUCTURE
-------------------------------------------------- */
body.front #mainWrapper {
  background: url("../images/bk_main_wrapper_home.png") 0 0 repeat-x;
}

#mainWrapper {
  background: url("../images/bk_main_wrapper.png") 0 0 repeat-x;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#header {
  position: relative;
  z-index: 100 !important;
  height: 202px;
  background: url("../images/bk_header.png") 0 0 no-repeat;
}

#main-content {
  z-index: 100 !important;
}

#main-content #colLeft img {
  border-top: 1px solid #bbb;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #bbb;
}

body.sidebar-first #main-content {
  overflow: hidden;
  margin-top: 35px;
  padding-bottom: 20px;
  background: url("../images/bk_vertline.jpg") 695px 0 repeat-y;
}

body.no-sidebars #main-content {
  overflow: hidden;
  margin-top: 35px;
  padding-bottom: 20px;
  background: none repeat scroll 0 0 transparent;
}

body.front #main-content {
  margin-top: 20px;
}

body.front #main-content {
  background: none;
}

body.sidebar-first #main-content #colLeft {
  float: left;
  width: 670px;
  margin-right: 50px;
  padding-top: 10px;
}

body.sidebar-first #main-content #colRight {
  float: left;
  width: 240px;
}

body.no-sidebars #main-content #colLeft {
  float: left;
  width: 960px;
  margin-right: 50px;
  padding-top: 10px;
}

#footer {
  position: relative;
  margin: 10px 0 0;
  padding-top: 3px;
  color: #666;
  background: url("../images/bk_horiz_line.jpg") 0 0 repeat-x;
  font-size: 12px;
}

#footerActionsInner {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 32px 0 0;
}

#footerWidgets {
  padding-top: 32px;
  background: #000 url("../images/bk_footer_widgets.png") 0 0 repeat-x;
}

#footerWidgetsInner {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 35px;
}

/* HEADER ELEMENTS
----------------------------------- */

/* -- logo -- */
#logo {
  position: absolute;
  top: 115px;
  left: 0;
}

#logo a img {
  top: 0;
  vertical-align: middle;
  border: medium none;
}

#admin-menu,
#admin-menu ul {
  z-index: 1002 !important;
  margin: 0;
  padding: 0;
  list-style: none outside none;
  line-height: 1.4em;
}

#mainMenu {
  position: absolute;
  top: 0;
  left: -18px;
}

#mainMenu ul li {
  float: left;
}

#mainMenu ul li a {
  display: block;
  height: 49px;
  padding: 36px 18px 0;
  color: #ccc;
  background: url("../images/bk_mainmenu.png") 0 -78px no-repeat;
  font-size: 17px;
}

#mainMenu ul li a span {
  color: #999;
  font-size: 10px;
  line-height: 120%;
}

#mainMenu ul li a:hover {
  text-decoration: none;
  color: #96ddfc;
  background: url("../images/bk_mainmenu.png") 0 0 repeat-x;
}

#mainMenu ul li ul li a:hover {
  background: #132325;
}

#mainMenu .block-superfish {
  z-index: 100;
}

#mainMenu .block-superfish ul {
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#mainMenu .block-superfish ul li {
  position: relative;
  display: inline;
  float: left;
}

* html #mainMenu .block-superfish ul li a {
  display: inline-block;
}

#mainMenu .block-superfish ul li ul {
  position: absolute;
  top: 85px;
  left: 0;
  display: none;
  width: auto;
  padding-bottom: 7px;
  background: url("../images/bk_submenu.png") no-repeat scroll 0 9px transparent;
}

#mainMenu .block-superfish ul li ul li {
  display: list-item;
  float: none;
  padding: 0;
  background: none repeat scroll 0 0 #091011;
}
#mainMenu .block-superfish ul li ul li a,
#mainMenu .block-superfish ul li ul li a:hover {
  width: auto;
  height: 1%;
  margin: 0;
  padding: 12px 0 12px 16px;
  text-align: left;
  text-transform: none;
  border-bottom: 1px solid #333;
  font-size: 13px;
  line-height: 100%;
}
#mainMenu .block-superfish ul li ul li a:hover {
  color: #1fa2e1;
}

#mainMenu .block-superfish ul li ul li a.last,
#mainMenu .block-superfish ul li ul li a.last:hover {
  border: medium none;
}

#mainMenu .block-superfish ul li ul li ul {
  top: 0;
}

* html #mainMenu .block-superfish {
  height: 1%;
}

/* top social links */

#topSocial {
  position: absolute;
  top: 120px;
  right: 0;
}

#topSocial ul li {
  float: left;
  width: 50px;
  padding: 0 5px;
}

#topSocial ul li a {
  display: block;
  width: 47px;
  height: 47px;
  background: url("../images/bk_topsocial.png") 0 0 no-repeat;
}

#topSocial ul li a img {
  margin-top: 9px;
  margin-left: 8px;
  border: none;
}

#topSocial ul li a:hover {
  /* background: url(../images/bk_topsocial_hover.png) 0 0 no-repeat; */
  background: none;
}

/* Top Search */

#topSearch {
  position: absolute;
  top: 25px;
  right: 5px;
}

/* CONTENT ELEMENTS
------------------------------------------- */

.alignleft {
  float: left;
  margin: 5px 15px 5px 0;
}

.alignright {
  float: right;
  margin: 5px 0 5px 15px;
}

/* homeboxes */

#homeBoxes {
  overflow: hidden;
}

#homeBoxes .block {
  float: left;
  width: 290px;
  margin: 0 10px;
}

#homeBoxes .block img {
  padding: 1px;
  border: 6px solid #e2e2e2;
  background: #fff;
}

#homeBoxes .block img:hover {
  border-color: #f9f9f9;
}

#homeBoxes .last {
  margin-right: 0;
}

#homeBoxes .block h2 {
  padding: 10px 0 15px;
  color: #333;
  font-size: 24px;
  font-weight: normal;
}

/* home blurb */
#blurb {
  margin-bottom: 25px;
  padding: 15px 20px 25px;
  border-top: 1px solid #bdbdbd;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #bdbdbd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: url("../images/bk_blurb.jpg") 0 100% repeat-x;
  text-shadow: 1px 1px #fff;
  font-size: 18px;
  line-height: 130%;
}

#blurb p {
  margin: 0;
}

#blurb img {
  float: right;
  margin-top: 5px;
  border: none;
}

#archive-title {
  display: block;
  margin: 0 0 15px;
  padding: 5px 0 7px 25px;
  border-bottom: 1px solid #ddd;
  background: url("../images/ico_archive.png") 2px 50% no-repeat;
}

/* BLOG ITEMS */

article.node--type-article,
article.node--type-page {
  overflow: hidden;
  margin: 0 0 30px;
  padding: 0 0 15px;
  border-bottom: 1px dotted #bbb;
}

.meta {
  margin-top: -12px;
  margin-bottom: 18px;
  color: #666;
  text-shadow: 1px 1px #fff;
  font-size: 11px;
}

.postTags {
  margin: 25px 0 0;
  padding-left: 24px;
  background: url("../images/ico_tag.png") 0 50% no-repeat;
  font-size: 13px;
}

.postTags .field-item {
  float: left;
  padding: 0 0.5em;
}

blockquote {
  margin: 20px 0 15px;
  padding-top: 20px;
  padding-left: 80px;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  background: url("../images/bk_blockquote.png") 0 15px no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

#content-area .content ul li,
#content-area .content ol li {
  padding: 5px 0 5px 25px;
  background: url("../images/bullet_list.png") 0 8px no-repeat;
}

/* Removing as it causes problems with vertical tabs */
#content-area .content ul {
  margin: 0 0 15px 15px;
}

#content-area .content ol li {
  padding-left: 0;
  background: none;
}

#content-area .content ol {
  margin: 0 0 15px 35px;
}

.links {
  margin: 0 0 1.5em;
}

.links ul,
.postTags ul,
ul.pager {
  margin: 0;
}

.links ul li,
.postTags ul li,
#content-area .content ul li,
#content-area .content .commentlist ul.links li,
ul.pager li {
  padding: 0 0.5em;
  background: none;
}

.links a {
  margin: 0;
  padding: 20px 0 0;
}

.node-readmore a {
  padding: 20px 0 0;
}

.node-readmore a::after {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  content: "»";
}

#shareLinks {
  width: 130px;
  height: 30px;
  /* border-left: 1px solid #008ff5;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; */
  margin: 20px 0;
  padding: 0 10px;
  border: 1px solid #008ff5;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: url("../images/bk_social.jpg") 0 0 repeat-x;
  font-size: 12px;
  line-height: 32px;
}

#shareLinks a {
  color: #fff;
}

#shareLinks #icons {
  display: none;
  padding-left: 15px;
}

#shareLinks #icons a {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}

/* SLIDER
--------------------------------------- */

#slider-wrapper {
  width: 960px;
  height: 420px;
  margin: 0 auto;
  background: url("../images/bk_shadow_slider.png") center bottom no-repeat;
}

#slider {
  position: relative;
  height: 370px;
  background: #fff url("../images/loading.gif") no-repeat 50% 40%;
}
#slider img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

/* PAGINATION */

.emm-paginate {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
}
.emm-paginate a {
  margin-right: 5px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  color: #666;
  border: 1px solid #ddd;
  background: url("../images/bk_pagenavi.jpg") 0 100% repeat-x;
}
.emm-title {
  float: left;
  margin-right: 4px;
  color: #555;
}
.emm-paginate .pager__items {
  clear: none;
  text-align: left;
}
.emm-paginate .item-list {
  float: left;
}
#content-area .content ul.pager li {
  margin: 0;
  padding: 0;
}
.emm-paginate .emm-gap {
  margin-right: 4px;
  color: #999;
}
.pager a:hover,
.pager a:active,
#content-area .content ul.pager li.pager-current {
  margin-right: 5px;
  padding: 4px 8px;
  color: #fff;
  border: 1px solid #0a95d8;
  background: #18aef5;
}

/* PORTFOLIO PAGE
--------------------------------------- */

#block-portfoliocategories,
#block-portfolio-categories,
#block-menu-menu-portfolio-categories,
.portfolioCategs {
  float: right;
  margin-top: 4px;
}

#block-portfoliocategories li,
#block-portfolio-categories li,
#block-menu-menu-portfolio-categories li,
.portfolioCategs li {
  float: left;
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none outside none;
}

#block-portfoliocategories li a,
#block-portfolio-categories li a,
#block-menu-menu-portfolio-categories li a,
.portfolioCategs li a {
  display: block;
  padding: 6px 12px;
  color: #1fa2e1;
  border-top: 1px solid #ddd;
  border-right: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  border-left: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: url("../images/bk_blurb.jpg") 0 100% repeat-x;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
}

.gallery {
  width: 982px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -22px;
  padding-left: 22px;
}

.gallery .portfolioItem {
  float: left;
  overflow: hidden;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.gallery .portfolioItem img {
  border: none;
}

/* COLRIGHT ELEMENTS
------------------------------------- */

.rightBox {
  margin-bottom: 17px;
}

.rightBox h2 {
  padding: 10px 0;
}

.rightBox ul li {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.rightBox ul {
  border-top: 1px solid #ddd;
}

/* COMMENTS
----------------------------------- */

#main-content #colLeft .commentlist {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
  list-style-position: outside;
  border-top: 3px solid #d2d8db;
  border-bottom: 4px solid #d2d8db;
}

#main-content #colLeft .commentlist .comment {
  margin: 0;
  list-style-position: outside;
  list-style-type: none;
}

#main-content #colLeft .commentlist .comment {
  position: relative;
  margin-top: 0;
  padding: 20px 0 10px 50px;
  background: url("../images/bk_horiz_line.jpg") 0 0 repeat-x;
}

#main-content #colLeft .commentlist .comment img {
  border: none;
}

#main-content #colLeft .commentlist .comment p {
  margin: 10px 0;
  font-size: 13px;
}

#main-content #colLeft .commentlist .comment .submitted,
#main-content #colLeft .commentlist .comment h3,
#main-content #colLeft .commentlist .comment .content {
  margin-left: 20px;
}

#main-content #colLeft .commentlist .comment .submitted .author {
  color: #999;
  font-size: 11px;
}

#main-content #colLeft .commentlist .comment .submitted {
  font-size: 16px;
}

#main-content #colLeft .commentlist .comment .user-picture {
  position: absolute;
  top: 20px;
  left: 0;
  width: 50px;
  height: 50px;
}

#main-content #colLeft .commentlist .comment .user-picture .gravatar_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url("../images/bk_gravatar_mask.png") 0 0 no-repeat;
}

#main-content #colLeft .commentlist .comment .links {
  position: absolute;
  top: 25px;
  right: 0;
  width: 46px;
  height: 21px;
  text-align: center;
  font-size: 12px;
}

#main-content #colLeft .commentlist .reply a {
  display: block;
  width: 46px;
  height: 21px;
  font-style: italic;
}

#main-content #colLeft .commentlist .reply a:hover {
  text-decoration: none;
  color: #333;
}

#main-content #colLeft .commentlist .comment .children li {
  overflow: hidden;
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 5px;
  border-bottom: none;
}

#main-content #colLeft .commentlist .comment .children li .gravatar {
  top: 20px;
}

#main-content #colLeft .commentlist .comment .children li .reply {
  top: 30px;
}

/* Contact Form */

#contact label {
  display: block;
  padding: 5px 0;
}

#contact input,
#contact textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#contact textarea {
  width: 560px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#contact input[type="submit"] {
  width: 151px;
  height: 32px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  color: #fff;
  border: none;
  background: url("../images/but_form.jpg") 0 100% repeat-x;
  font-size: 12px;
}

/* COMMENTS F0RM */

#comment-form p {
  margin: 0;
}

#comment-form label {
  display: block;
  padding: 5px 0;
}

#comment-form input,
#comment-form textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#comment-form input:focus,
#comment-form textarea:focus {
  border: 1px solid #09f;
}

#comment-form textarea {
  width: 560px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#comment-form input[type="submit"] {
  width: 151px;
  height: 32px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  color: #fff;
  border: none;
  background: url("../images/but_form.jpg") 0 100% repeat-x;
  font-size: 12px;
}

/* Top Search */

#topSearch .form-item label {
  display: none;
}

#topSearch .form-item {
  margin: 0;
}

#topSearch input[type="search"] {
  position: relative;
  float: left;
  width: 150px;
  margin-right: 10px;
  padding: 9px 10px 10px;
  color: #a8a8a8;
  border: 1px solid #2e4849;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: url("../images/bk_top_search.png") 0 0 repeat-x;
  font-style: italic;
}

#topSearch input[type="submit"] {
  position: absolute;
  z-index: 100;
  right: 0;
  width: 43px;
  height: 44px;
  cursor: pointer;
  color: transparent;
  border: medium none;
  background: url("../images/but_search.png") no-repeat scroll 0 0 transparent;
  font-size: 0;
}

/* FOOTER ELEMENTS
------------------------------------------- */

#twitter #twitter_update_list li {
  list-style-type: none;
  line-height: 140%;
}

#showHide {
  position: absolute;
  top: -5px;
  right: 4px;
  display: block;
  width: 48px;
  height: 16px;
  text-indent: -9999px;
  background: url("../images/but_show_hide.png") 0 0 no-repeat;
}

#footerActionsInner #twitter {
  position: relative;
  float: left;
  overflow: hidden;
  width: 315px;
  padding-left: 85px;
  background: url("../images/twitter_ill.png") 0 0 no-repeat;
}

#footerActionsInner #twitter #latest {
  width: 300px;
}

#footerActionsInner #twitter #latest #tweet {
  height: 125px;
  padding: 0 10px;
  background: url("../images/bk_latest_tweet.png") 0 0 no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-style: italic;
  line-height: 125%;
}

#footerActionsInner #twitter #latest #tweetBottom {
  height: 26px;
  background: url("../images/bl_latesttweet_bottom.png") 0 0 no-repeat;
}

#footerActionsInner #twitter a.action {
  position: absolute;
  display: block;
  width: 81px;
  height: 23px;
  padding-top: 2px;
  text-align: center;
  color: #fff;
  background: url("../images/but_actions.png") 0 0 no-repeat;
  font-size: 12px;
}

#footerActionsInner #twitter a.action:hover {
  background: url("../images/but_actions.png") 0 -25px no-repeat;
}

#footerActionsInner #twitter a.action {
  top: 76px;
  left: 0;
}

#footerActionsInner #quickContact {
  position: relative;
  float: right;
  overflow: hidden;
  width: 435px;
  margin-left: 30px;
  padding-left: 85px;
  background: url("../images/quick_contact_ill.png") 0 0 no-repeat;
}

#footerActionsInner #quickContact .leftSide {
  float: left;
  overflow: hidden;
  width: 155px;
}

#footerActionsInner #quickContact .rightSide {
  float: left;
  overflow: hidden;
  width: 268px;
  margin-left: 10px;
}

/* Footer Widgets */

#footerWidgetsInner .block {
  float: left;
  overflow: hidden;
  width: 210px;
  margin-bottom: 40px;
  padding-right: 30px;
}

#footerWidgetsInner h2 {
  margin-bottom: 2px;
  padding: 7px 0 12px;
  color: #ccc;
  border-bottom: 1px solid #292929;
  font-size: 20px;
}

#footerWidgetsInner .block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footerWidgetsInner .block ul li {
  margin: 0;
  padding: 7px 0;
  color: #986123;
  border-bottom: 1px solid #292929;
  font-size: 10px;
  font-style: italic;
}

#footerWidgetsInner .block ul li a {
  text-decoration: none;
  color: #515151;
  font-size: 13px;
  font-style: normal;
}

#footerWidgetsInner .block ul li a:hover {
  color: #ccc;
}

/* Copyright */

#footerWidgetsInner #copyright {
  position: relative;
  clear: both;
  margin-top: 15px;
  padding-top: 25px;
  border-top: 4px solid #090e0f;
}

#site5bottom {
  position: absolute;
  top: 17px;
  right: 0;
}

#site5bottom img {
  border: none;
}

#site5bottom a {
  display: block;
  /* width: 344px;
  height: 26px;
  background: url(../images/site5bottom.png) 100% 0 no-repeat;
  text-indent: -9999px; */
}

/* FORMS
------------------------------------ */

/* Quick Contact Form */

#quickContact form input[type="text"],
#quickContact form textarea,
#quickContact form input[type="email"] {
  width: 138px;
  margin-bottom: 5px;
  padding: 7px;
  color: #666;
  border-top: 1px solid #bdbdbd;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #bdbdbd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: url("../images/bk_blurb.jpg") 0 100% repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#quickContact .form-item,
#quickContact .form-actions {
  margin-top: 0;
}

#quickContact form textarea {
  width: 250px;
  height: 90px;
  padding-top: 5px;
}

#quickContact form input[type="submit"] {
  display: block;
  float: left;
  width: 81px;
  height: 24px;
  margin-top: 3px;
  padding-top: 0;
  text-align: center;
  color: #fff;
  border: none;
  background: url("../images/but_actions.png") 0 0 no-repeat;
  font-size: 12px;
  line-height: 80%;
}

.errormsg,
.successmsg {
  padding: 10px;
  color: #da4310;
  border: 1px solid #f7a68a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #fef4f1;
}

.successmsg {
  color: #8fa943;
  border: 1px solid #c2e1aa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #f5faf1;
}

/* stylelint-enable selector-id-pattern */
