.tabs {
  margin: 1.125rem 0 0;
  padding: 0 2px;
  list-style: none;
  white-space: nowrap;
  border-bottom: 1px solid #ccc \0 / ie;
  background-image: -webkit-linear-gradient(bottom, #ccc 1px, transparent 1px);
  background-image: linear-gradient(to top, #ccc 1px, transparent 1px);
  line-height: 1.875rem;
}

@media print {
  .tabs {
    display: none;
  }
}

.tabs__tab {
  float: left;
  overflow: hidden;
  margin: 0 3px;
  border: 1px solid #ccc;
  border-bottom: 0 \0 / ie;
  border-bottom-color: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #ddd;
}

[dir="rtl"] .tabs__tab {
  float: right;
}

.tabs__tab.is-active {
  border-bottom-color: #fff;
}

.tabs__tab-link {
  display: block;
  padding: 0 1.5rem;
  -webkit-transition:
    color 0.3s,
    background 0.3s,
    border 0.3s;
  transition:
    color 0.3s,
    background 0.3s,
    border 0.3s;
  text-decoration: none;
  letter-spacing: 1px;
  color: #000;
  background: #ddd;
  text-shadow: #fff 0 1px 0;
}

.tabs__tab-link:focus,
.tabs__tab-link:hover {
  background: #eaeaea;
}

.tabs__tab-link:active,
.tabs__tab-link.is-active,
.tabs__tab-link--is-active {
  background: #fff;
  text-shadow: none;
}

.tabs--secondary {
  margin-top: 1.5rem;
  background-image: none;
  font-size: 0.875rem;
}

.tabs + .tabs--secondary,
.tabs + h2 + .tabs--secondary {
  margin-top: 0;
  background-image: -webkit-linear-gradient(bottom, #ccc 1px, transparent 1px);
  background-image: linear-gradient(to top, #ccc 1px, transparent 1px);
}

.tabs--secondary .tabs__tab {
  margin: 0.5625rem 0.1875rem;
  border: 0;
  background: transparent;
}

[dir="rtl"] .tabs--secondary .tabs__tab {
  float: right;
}

.tabs--secondary .tabs__tab.is-active {
  border-bottom-color: transparent;
}

.tabs--secondary .tabs__tab-link {
  letter-spacing: normal;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 24px;
  background: #f1f1f1;
}

.tabs--secondary .tabs__tab-link:focus,
.tabs--secondary .tabs__tab-link:hover {
  color: #333;
  border-color: #999;
  background: #ddd;
}

.tabs--secondary .tabs__tab-link:active,
.tabs--secondary .tabs__tab-link.is-active,
.tabs--secondary .tabs__tab-link--is-active {
  color: white;
  border-color: black;
  background: #666;
  text-shadow: #333 0 1px 0;
}
