{#
/**
 * @file
 * Boldy's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - $main_menu (array): An array containing the Main menu links for the
 *   site, if they have been configured.
 * - $secondary_menu (array): An array containing the Secondary menu links for
 *   the site, if they have been configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.nav_bar: Items for the navigation bar region.
 * - page.search_box: Items for the search box region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.slider: Items for the slider content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content_top: The Items for the top content region.
 * - page.content: The main content of the current page.
 * - page.content_bottom: The Items for the bottom content region.
 * - page.right: Items for the right sidebar.
 * - page.footer_actions: Items for the footer action region.
 * - page.footer_message: Items for the footer message region.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see boldy_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="mainWrapper"> <!-- BEGIN MAINWRAPPER -->
  <div id="wrapper" class="clearfix"> <!-- BEGIN WRAPPER -->
    <header id="header" role="banner" aria-label="{{ 'Site header'|t}}"> <!-- BEGIN HEADER -->
    {% if page.site_branding %}
      {{ page.site_branding }}
    {% endif %}
    <div id="mainMenu"> <!-- BEGIN MAIN MENU -->
      {{ page.primary_menu }}
      {{ page.secondary_menu }}
      {{ page.nav_bar }}
    </div> <!-- END MAIN MENU -->
    {% if page.search_box %}
    <div id="topSearch"> <!-- BEGIN TOP SEARCH -->
      {{ page.search_box }}
    </div> <!-- END TOP SEARCH -->
    {% endif %}
    <div id="topSocial"> <!-- BEGIN TOP SOCIAL LINKS -->
      <h2 class="visually-hidden">Social media menu</h2>
      <ul>
      {% if boldy_linkedin_link %}
        <li><a href="{{ boldy_linkedin_link }}" class="linkedin" title="Join us on LinkedIn!"><img src="{{ linkedin_logo }}" alt="LinkedIn" /></a></li>
      {% endif %}
      {% if boldy_twitter_user %}
        <li><a href="http://www.twitter.com/{{ boldy_twitter_user }}" class="twitter" title="Follow Us on Twitter!"><img src="{{ twitter_logo }}" alt="Follow Us on Twitter!" /></a></li>
      {% endif %}
      {% if boldy_facebook_link %}
        <li><a href="{{ boldy_facebook_link }}" class="twitter" title="Join Us on Facebook!"><img src="{{ facebook_logo }}" alt="Join Us on Facebook!" /></a></li>
      {% endif %}
        <li><a href="/rss" title="RSS" class="rss"><img src="{{ rss_logo }}" alt="Subscribe to Our RSS Feed" /></a></li>
      </ul>
    </div> <!-- END TOP SOCIAL LINKS -->
    </header> <!-- END HEADER -->
    {% if messages %}
    <div id="messages"><div class="section clearfix">
      {{ messages }}
    </div></div> <!-- /.section, /#messages -->
    {% endif %}

    <div id="main-content"> <!-- BEGIN CONTENT -->
      {% if page.slider %}
      <aside id="slider-wrapper">
        <div id="slider"> <!-- BEGIN SLIDER -->
          {{ page.slider }}
        </div> <!-- END SLIDER -->
      </aside>
      {% endif %}
      {% if page.mission %}
      <aside id="blurb"> <!-- BEGIN BLURB -->
        <p><a href="{{ boldy_blurb_link }}"><img src="{{ boldy_blurb_button }}" alt="Contact Us" /></a></p>
        {{ page.mission }}
      </aside> <!-- END BLURB -->
      {% endif %}
      <!-- begin home boxes -->
      {% if page.home_boxes %}
      <aside id="homeBoxes" class="clearfix">
        {{ page.home_boxes }}
      </aside> <!-- end home boxes -->
      {% endif %}
      <!-- END HOME CONTENT -->
      <div id="colLeft"> <!-- Begin #colLeft -->
        <main id="content" class="column" role="main"><section class="section">
          {% if page.highlighted %}<div id="highlighted">{{ page.highlighted }}</div>{% endif %}
          <a id="main-content" tabindex="-1"></a>
          {% if title %}
            {{ title }}
          {% endif %}
          {% if tabs %}
          <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
            {{ tabs }}
          </nav>
          {% endif %}
          {{ messages }}
          {{ page.help }}
          {% if action_links %}
          <ul class="action-links">
            {{ action_links }}
          </ul>
          {% endif %}
          {% if page.content_top %}
          <div id="content-top" class="region region-content_top">
            {{ page.content_top }}
          </div> <!-- /#content-top -->
          {% endif %}
          {% if page.content %}
          <div id="content-area" class="clear-block">
            {{ page.content }}
          </div>
          {% endif %}
          {% if feed_icons %}
          <div class="feed-icons">{{ feed_icons }}</div>
          {% endif %}
          {% if page.content_bottom %}
          <div id="content-bottom" class="region region-content_bottom">
            {{ page.content_bottom }}
          </div> <!-- /#content-bottom -->
          {% endif %}
        </section></main> <!-- /.section, /#content -->
      </div> <!-- End #colLeft -->
      {% if page.sidebar_first %}
      <div id="colRight"> <!-- Begin #colRight -->
        <aside class="section">
          {{ page.sidebar_first }}
        </aside>
      </div> <!-- End #colRight -->
      {% endif %}
    </div> <!-- END MAIN-CONTENT -->
  </div> <!-- END WRAPPER -->
  <div id="footer"> <!-- BEGIN FOOTER -->
  {% if boldy_footer_actions %}
    <div style="width:960px; margin: 0 auto; position:relative;">
      <a href="#" id="showHide" {% if boldy_actions_hide == "hidden" %} style="background-position:0 -16px"{% endif %}>Show/Hide Footer Actions</a>
    </div>
    <div id="footerActions" {% if boldy_actions_hide == "hidden" %} 'style="display:none" {% endif %}>
      <div id="footerActionsInner">
        {% if page.footer_actions_left %}
          {{ page.footer_actions_left }}
        {% endif %}
        {% if page.footer_actions_right %}
          {{ page.footer_actions_right }}
        {% endif %}
      </div>
    </div>
  {% endif %}
    <div id="footerWidgets">
      <div id="footerWidgetsInner">
      {% if page.footer %}
        {{ page.footer }}
      {% endif %}
      {% if page.footer_message %}
        <div id="copyright"> <!-- BEGIN COPYRIGHT -->
          {{ page.footer_message }}
        </div> <!-- END COPYRIGHT -->
      {% endif %}
      </div>
    </div>
  </div> <!-- END FOOTER -->
</div> <!-- END MAINWRAPPER -->
